*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html { 
    font-size: 62.5%;
}

body{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
    color: #fff;
}

main h1 { 
    font-size: 5rem;
    margin-bottom: 25px;
    text-align: center;
}

main h2 { 
    font-size: 3rem;
    margin-bottom: 15px;

}

main h2:last-of-type{ 
    margin-top: 15px;
}

td,th { 
    font-size: 1.875rem;
}

main { 
    box-shadow: 0 3px 15px rgba(113,115,119,.5);
    padding: 30px;
    border-radius: 16px;
}

table,tr,td,th{
    border: 1px solid #fff;
    border-collapse: collapse;
}

td, th { 
    padding: 7px;
}

